@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #0f0b0b;
    color: white;
}
.body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, .navbar h1 {
  font-family: 'Playfair Display', serif;
}
.navbar h1{
    font-size: 4vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
}
.navbar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 7vh; 
}


.navbar li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 3vh;
}

.navbar li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* sits just under the text */
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.navbar li a:hover::after {
    width: 100%;
}

.hero{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20vh;
}
.hero h1{
    font-size: 9vh;
}
