@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f0b0b;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 80px;
}

h1, h2, .navbar h1 {
  font-family: 'Playfair Display', serif;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 6vw;
  background-color: rgba(15, 11, 11, 0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Shimmer heading */
.navbar h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.3rem);
  background: linear-gradient(90deg, #00BFFF, #ffffff, #00BFFF);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


.navbar ul {
  list-style: none;
  display: flex;
  gap: clamp(1.5rem, 4vw, 3.5rem);
}


.navbar li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5vh 0.8vw;
  color: rgb(222, 222, 229);
  transition: color 0.3s ease, transform 0.3s ease;
}


.navbar li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #00BFFF;
  transition: width 0.3s ease-in-out;
}

.navbar li a:hover {
  color: #00BFFF;
  transform: scale(1.08); 
}

.navbar li a:hover::after {
  width: 100%;
}


.hero {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}
